<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Nick Massarelli</title>

    <!-- TODO: customize meta description -->
    <meta
      name="description"
      content="This is the personal website of Nick Massarelli"
    />

    <link
      rel="shortcut icon"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/microbe_1f9a0.png"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/271/microbe_1f9a0.png"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="is-loading">
    <div class="container">
      <div class="column">
        <p class="header name top" style="font-style: normal">
          NICK MASSARELLI <br />Graphic Design & Art Direction <button class="desktop-only js-view-images-button">(View Images)</button>
        </p>

        <ul>
          <li class="contact-info-indent">
            <p>nick@nickmassarelli.com</p>
            <p>
              <a href="https://www.instagram.com/nick.massarelli/"
                >@nick.massarelli</a>
            </p>
            <p>508 769 6405</p>
            <p>Brooklyn, New York</p>
          </li>
        </ul>

        <ul id="footer">
          <li>
            <p id="download-button">
              <a href="assets/nick-massarelli_resume_0801424.pdf" download
                >Download Résumé</a
              >&nbsp;↓
            </p>
            <p>Last updated: June, 2025</p>
          </li>
        </ul>

        <div class="image-slider js-image-slider">
          <div class="embla js-embla">
            <div class="embla-container">
              {% for slide in slider %}
                <div class="embla-slide">
                    <div class="embla-slide-image-container">
                      <img
                        class="mobile-only"
                        src="{{ slide.mobileImage.src }}"
                        alt="{{ slide.mobileImage.alt }}"
                      >
                      <img
                        class="desktop-only"
                        src="{{ slide.desktopImage.src }}"
                        alt="{{ slide.desktopImage.alt }}"
                      >
                    </div>
                    <div class="embla-slide-text">
                      <p class="embla-slide-caption js-caption">{{ slide.caption | safe }}</p>
                      <p class="embla-slide-progress">{{ loop.index }}/{{ slider | length }}</p>
                    </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="image-slider-caption desktop-only js-caption-container"></div>
          <div class="image-slider-progress desktop-only"><span class="js-progress">1</span>/{{ slider | length }}</div>
          <div class="cursor desktop-only js-cursor" data-hover="close">          
            <svg class="cursor-icon cursor-icon--next" width="60" viewBox="0 0 174.96 133.92">
              <path d="M0 62.46h104.76v9H0z"/>
              <path d="M112.5 0h-9A71.58 71.58 0 0 0 150 67a71.58 71.58 0 0 0-46.52 67h9A62.53 62.53 0 0 1 175 71.46v-9A62.53 62.53 0 0 1 112.5 0Z"/>
            </svg>
            <svg class="cursor-icon cursor-icon--prev" width="60" viewBox="0 0 174.96 133.92">
              <path d="M70.2 62.46h104.76v9H70.2z"/>
              <path d="M24.94 67A71.58 71.58 0 0 0 71.46 0h-9A62.53 62.53 0 0 1 0 62.46v9a62.53 62.53 0 0 1 62.46 62.46h9A71.58 71.58 0 0 0 24.94 67Z"/>
            </svg>
            <svg class="cursor-icon cursor-icon--close" width="40" viewBox="0 0 109.25 109.25">
              <path d="M109.25 102.89 60.99 54.62l48.26-48.25L102.89 0 54.63 48.26 6.36 0 0 6.36l48.26 48.26L0 102.89l6.36 6.36 48.27-48.26 48.26 48.26 6.36-6.36z"/>
            </svg>
          </div>
        </div>

        <div class="times">

       

          <p class="header top">PROJECTS</p>
          <ul>
            <li>
              <p class="title">Pharmacy Books</p>
              <p class="sub">
                I've been publishing artists' books and editions since 2018 (previously known as <a href="https://firstlast.cargo.site/">First Last</a>). Our launch events have spanned across New York, Los Angeles, Philadelphia, and Tokyo. The project serves as a space for exploration in image making and publication design. Our titles can be found at the Haas Arts Library (Yale University) and the Fisher Fine Arts Library at the (University of Pennsylvania). Our books are distributed in shops internationally including Commune (Tokyo), Bungee Space (NYC), and Actual Source (Provo, UT).
                <a href="https://pharmacy-books.com/">pharmacy-books.com</a>&nbsp;
              </p>
            </li>
          </ul>

           <p class="header">WORK</p>
        <ul>
          <li>
            <p class="title">Independent Designer & Art Director</p>
            <p class="sub">Current</p>
          </li>
          <li>
            <p class="title"><a href="https://actualsource.work/">Actual Source</a></p>
            <p class="sub">Art Director, Current</p>
          </li>
          <li>
            <p class="title">Parsons School of Design</p>
            <p class="sub">Part-Time Faculty, Current</p>
          </li>
          <li>
            <p class="title">Yale University Art Gallery</p>
            <p class="sub">Designer (part-time), 2019–2021</p>
          </li>
          <li>
            <p class="title">Philadelphia Museum of Art</p>
            <p class="sub">Graphic Designer, 2018–2019</p>
          </li>
        </ul>

        </div>

      </div>

      <div class="column">

        <p class="header">RECENTLY</p>
        <ul>
          <li>
            <p class="title">
             I’m in the process of announcing my new publishing project, Pharmacy Books. I am kicking it off with a book of my own called <i>Placeholders</i> which you can find through <a href="https://pharmacy-books.com/">pharmacy-books.com</a>. Pharmacy Books is also working on new titles with Nomka Enkhee, Xi Li, Claire Hungerford, and Max Gavrich. 
            </p>
          </li>
          <li>
            <p class="title">
              I recently designed the Fall 2024 poster series for the Parsons Communication Design Lectures.
            </p>
          </li>
          <li>
            <p class="title">
              This October I am giving a talk and leading a <a href="https://www.dropbox.com/scl/fo/lly5w76pi70o229i9jgrr/AD5dIEPK8qiCIRbJ2xMmNA4?rlkey=sddjgd2luftudcf6po7pb22lk&dl=0">workshop</a> for the undergraduate student-run design club at Yale University.
            </p>
          </li>
          <li>
            <p class="title">
              I am currently working with Mark Owens on an artist catalog for Amanda Ross-Ho through the Vleeshal Center for Contemporary Art.
            </p>
          </li>
        </ul>

        <p class="header">TEACHING</p>
        <ul>
          <li>
            <p class="title">Workshops</p>
            <p class="sub">Parsons School of Design</p>
            <p class="sub">2022–Current</p>
            <p class="sub"><a href="https://www.dropbox.com/scl/fi/ai0b33l3mbuyy73lpwl17/Currents-CD-workshop_SP-2024_syllabus_01.pdf?rlkey=srslurchgh6wi23hjl1cc6dz6&dl=0">Small Publishing Syllabus</a> (recent)</p>
          </li>
          <li>
            <p class="title">Typography</p>
            <p class="sub">Parsons School of Design</p>
            <p class="sub">Fall 2022–Current</p>
            <p class="sub"><a href="https://www.dropbox.com/scl/fo/cxsbqpbhmjemfapqhbsmw/AEV4i1uNc1AkZEiHZ_9MaoY?rlkey=o8bhiesje2vktg66h1oo39oyw&dl=0">Syllabus</a> (recent)</p>
          </li>
          <li>
            <p class="title">Graphic Design Courses (TA)</p>
            <p class="sub">Yale University</p>
            <p class="sub">Led by Matt Wolff, 2020</p>
            <p class="sub">Led by Henk van Assen, 2021</p>
          </li>
        </ul>

        <p class="header">SCHOOL</p>
        <ul>
          <li>
            <p class="title">Yale University, School of Art</p>
            <p class="sub">MFA in Graphic Design, 2021</p>
          </li>
          <li>
            <p class="title">Jason Fulford Workshop</p>
            <p class="sub">Ocean of Ambiguity</p>
            <p class="sub">Vancouver, Summer 2022</p>
          </li>
          <li>
            <p class="title">Typography Summer School Workshop</p>
            <p class="sub">London, Summer 2017</p>
          </li>
          <li>
            <p class="title">Drexel University</p>
            <p class="sub">BS in Graphic Design, 2015</p>
          </li>
        </ul>

      </div>
    </div>

    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script src="/js/main.js"></script>

    <! start code from klaviyo ––>

<script
type="text/javascript"
src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id=YwWJMe"
></script>

   <! end code from klaviyo ––>

  </body>
</html>
